In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

In [2]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "."]).decode("utf8"))

001-Data ScienceTutorial-plot.html
001-Data ScienceTutorial-plot.ipynb
002-Data ScienceTutorial-dictionary-pandas.ipynb
combats.csv
pokemon.csv
tests.csv

# DICTIONARY

Why we need dictionary?

It has 'key' and 'value'
Faster than lists
What is key and value. Example:
dictionary = {'spain' : 'madrid'}
Key is spain.
Values is madrid.

It's that easy.
Lets practice some other properties like keys(), values(), update, add, check, remove key, remove all entries and remove dicrionary.

In [4]:
#create dictionary and look its keys and values
dictionary = {'spain' : 'madrid','usa' : 'vegas'}
print(dictionary.keys())
print(dictionary.values())

dict_keys(['spain', 'usa'])
dict_values(['madrid', 'vegas'])

In [5]:
# Keys have to be immutable objects like string, boolean, float, integer or tubles
# List is not immutable
# Keys are unique
print(dictionary)
dictionary['spain'] = "barcelona"    # update existing entry
print(dictionary)
dictionary['france'] = "paris"       # Add new entry
print(dictionary)
del dictionary['spain']              # remove entry with key 'spain'
print(dictionary)
print('france' in dictionary)        # check include or not
dictionary.clear()                   # remove all entries in dict
print(dictionary)

{'spain': 'madrid', 'usa': 'vegas'}
{'spain': 'barcelona', 'usa': 'vegas'}
{'spain': 'barcelona', 'usa': 'vegas', 'france': 'paris'}
{'usa': 'vegas', 'france': 'paris'}
True
{}

In [6]:
# In order to run all code you need to take comment this line
# del dictionary         # delete entire dictionary     
print(dictionary)       # it gives error because dictionary is deleted

{}

#  PANDAS

What we need to know about pandas?

CSV: comma - separated values

In [8]:
data = pd.read_csv('pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [10]:
series = data['Defense']

In [11]:
print(type(series))

<class 'pandas.core.series.Series'>

In [12]:
series.head()

0     49
1     63
2     83
3    123
4     43
Name: Defense, dtype: int64

In [13]:
data_frame = data[['Defense']]

In [14]:
print(type(data_frame))

<class 'pandas.core.frame.DataFrame'>

In [15]:
data_frame.head()

   Defense
0       49
1       63
2       83
3      123
4       43

Before continue with pandas, we need to learn logic, control flow and filtering.
Comparison operator: ==, <, >, <=
Boolean operators: and, or ,not
Filtering pandas

In [16]:
# Comparison operator
print(3 > 2)
print(3!=2)
# Boolean operators
print(True and False)
print(True or False)

True
True
False
True

In [17]:
# 1 - Filtering Pandas data frame
x = data['Defense']>200
x

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Defense, Length: 800, dtype: bool

In [18]:
data[x]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [21]:
# 2 - Filtering pandas with logical_and
# There are only 2 pokemons who have higher defence value than 2oo and higher attack value than 100
data[np.logical_or(data['Defense']>200, data['Attack']>100 )]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
12,13,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
19,20,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
39,40,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
793,794,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [22]:
data[np.logical_and(data['Defense']>200, data['Attack']>100 )]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [23]:
data[data['Defense']>200]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [24]:
data[(data['Defense']>200) & (data['Attack']>100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

# WHILE and FOR LOOPS

We will learn most basic while and for loops

In [26]:
i = 0 
while i !=5:
    print ('i is ', i)
    i+=1
print(i, 'is equal to 5')

i is  0
i is  1
i is  2
i is  3
i is  4
5 is equal to 5

In [27]:
lis=[1,2,3,4,5]

for i in lis:
    print('i is :' , i)
print('')

i is : 1
i is : 2
i is : 3
i is : 4
i is : 5

In [28]:

# Enumerate index and value of list
# index : value = 0:1, 1:2, 2:3, 3:4, 4:5
for index, value in enumerate(lis):
    print(index," : ",value)
print('')

0  :  1
1  :  2
2  :  3
3  :  4
4  :  5

In [29]:

# For dictionaries
# We can use for loop to achive key and value of dictionary. We learnt key and value at dictionary part.
dictionary = {'spain':'madrid','france':'paris'}
for key,value in dictionary.items():
    print(key," : ",value)
print('')

spain  :  madrid
france  :  paris

In [30]:
for key, value in dictionary.items():
    print (key , "<-->" , value)

spain <--> madrid
france <--> paris

In [32]:
for index,value in data[['Attack']][0:10].iterrows():
    print (key , "<-->" , value)

france <--> Attack    49
Name: 0, dtype: int64
france <--> Attack    62
Name: 1, dtype: int64
france <--> Attack    82
Name: 2, dtype: int64
france <--> Attack    100
Name: 3, dtype: int64
france <--> Attack    52
Name: 4, dtype: int64
france <--> Attack    64
Name: 5, dtype: int64
france <--> Attack    84
Name: 6, dtype: int64
france <--> Attack    130
Name: 7, dtype: int64
france <--> Attack    104
Name: 8, dtype: int64
france <--> Attack    48
Name: 9, dtype: int64